/*
 * Vlaamse Rap Main CSS
 */

/* BOOTSTRAP TWEAKS *******************************************************************************/

/*
 * Override BS default container
* ------------------------------
 */

@media (min-width: 992px) {
    .container {
        width: 855px;
    }
    .entry-content {
        max-width: 540px;
        margin: 0 auto;
    }
    .full-width .entry-content {
        max-width: 855px;
    }
}

/* NAV TOGGLE */

.navbar-vr-main .navbar-toggle {
  border-color: #ddd;
}
.navbar-vr-main .navbar-toggle:hover,
.navbar-vr-main .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-vr-main .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-vr-top .navbar-toggle {
  border-color: #333;
}
.navbar-vr-top .navbar-toggle:hover,
.navbar-vr-top .navbar-toggle:focus {
  background-color: #333;
}
.navbar-vr-top .navbar-toggle .icon-bar {
  background-color: #fff;
}

/*
 * Link Transitions
 * ----------------
 */
a {
    -webkit-transition:.7s;
       -moz-transition:.7s;
        -ms-transition:.7s;
         -o-transition:.7s;
            transition:.7s;
}

/* Vlaamse Rap Theme ******************************************************************************/

a {
    color: #469ABF;
}
.label a {
    color: #FFFFFF;
}
.label a:hover {
    text-decoration: none;
}
.badge.badge-vr {
    background-color: #469ABF;
}

/*
 * Site header
 * -----------
 */

.site-header {
    position: relative;
    /*height: 230px;*/ /* header img */
    background: #469ABF;
}
.site-header .home-link {
    display: block;
    width: 100%;
    max-width: 1170px;
    min-height: 230px;
    padding: 0 15px;
    margin: 0 auto;
    text-decoration: none;
    color: #141412;
    color: #FFFFFF;
}
.site-header .home-link:active,
.site-header .home-link:focus {
    outline: none;
}
.site-header .site-title:hover {
    text-decoration: underline;
}
.site-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 58px 0 10px;
}
.site-description {
    font: 300 normal 24px Helvetica, sans-serif;
    margin: 0;
}

@media (max-width: 767px) {
    .site-title {
        font-size: 30px;
    }
}

/*
 * Site nav bar
 * ------------
 */

.site-nav .navbar {
    margin-bottom: 0;
    border-width: 0;
}
.site-nav-top {
    background-color: #222222;
    border-color: #080808;
    border-style: solid;
    border-width: 1px 0 0 0;
}
.site-nav-top a {
    color: #999999;
}
.site-nav-top a:hover,
.site-nav-top a:focus {
    color: #ffffff;
}
.site-nav-top .nav > li > a:hover,
.site-nav-top .nav > li > a:focus {
    color: #ffffff;
    background-color: #080808;
}

.site-nav-main {
    background-color: #F8F8F8;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
@media (min-width: 992px) {
    .navbar-vr-main-collapse {
        padding-right: 0;
    }
}
/*
 * Site footer
 * -----------
 */

.site-footer.site-footer-bottom {
    padding: 20px 0 15px 0;
    background-color: #222222;
    border-color: #080808;
    border-style: solid;
    border-width: 2px 0 0;
}
.site-footer {
    color: #999999;
}
.site-footer a {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: dotted 1px #999999;
}
.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom-width: 0;
}

/*
 * Site main
 * ---------
 */

.site-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*
 * Sidebar layout
 * --------------
 */

.site-sidebar {

}

/*
 * Widgets
 * -------
 */

.widget-container {
    margin-bottom: 30px;
}
.widget-container ul {
    padding-left: 10px;
}
.widget-container ul > ul {
    padding-left: 20px;
}
.widget-container p:last-child,
.widget-container ul:last-child,
.widget-container ol:last-child {
    margin-bottom: 0;
}
.widget-container ul.list-group {
    padding-left: 0;
}

/* Pagination */
/*.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}*/

/*
 * Blog posts
 * ----------
 */

.entry-title,
.page-title,
.page-header {
    border-width: 0;
    margin: 0 0 20px;
    padding-bottom: 0;
}
.entry-meta {
    margin-bottom: 10px;
    color: #999;
}
.entry-content {
    margin-bottom: 40px;
    font-size: 18px;
}
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    font-size: 20px;
    font-weight: bold;
}

.page-template-page-templatestags-php .entry-content {
    font-size: 100%;
}

/*
 * Comments
 * --------
 */

.comment-list {
    margin-bottom: 30px;
}
.comment-list,
.comment-list ol,
.comment-list ul {
    list-style-type: none;
}
.comment-form textarea {
    resize: vertical;
}

/*
 * Widgets / Archives
 * --------
 */

.home h2.entry-title,
.blog h2.entry-title,
.archive h2.entry-title,
.search h2.entry-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.widget-vr .list-group {
    padding: 0 !important;
}
.widget-vr .list-group-item {
    position: relative;
    padding-left: 70px;
    min-height: 70px;
}
.widget-vr .list-group-item img {
    position: absolute;
    left: 10px;
    top: 10px;
}
.widget-vr.widget-vr-lg .list-group-item {
    position: relative;
    padding-left: 120px;
    min-height: 120px;
}

@media (max-width: 767px) {
    .widget-vr .list-group-item img {
        width: 50px;
        height: 50px;
    }
    .widget-vr.widget-vr-lg .list-group-item {
        position: relative;
        padding-left: 70px;
        min-height: 70px;
    }
    .home h2.entry-title,
    .blog h2.entry-title,
    .archive h2.entry-title,
    .search h2.entry-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

/* page numbers */
.widget-vr.widget-vr-lg .list-group-item.list-group-item-nav {
    padding: 10px 10px 30px;
    min-height: 0;
}

/* wp stats */

img#wpstats {display:none !important;}

/* 
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/ 

This element holds injected scripts inside iframes that in 
some cases may stretch layouts. So, we're just hiding it. 
*/

#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

/* end of file main.css */
